doctype=html
html
  head
    title Example Auth for DFO
  body
    h1 Example for DFO
    p Message: #{message}
    p Auth Code: #{authCode}
    script.
      (function (i, s, o, r, g, v, a, m) {
      g = v ? g + '?v=' + v : g; i['BrandEmbassy'] = r;
      i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }; i[r].l = +new Date();
      a = s.createElement(o); m = s.getElementsByTagName(o)[0]; a.async = 1;
      a.src = g + '?' + Math.round(Date.now() / 1000 / 3600); m.parentNode.insertBefore(a, m)
      }) (window, document, 'script', 'brandembassy', 'https://livechat-static-de-au1.niceincontact.com/4/chat.js');
      let authCode = "#{authCode}"
      let brandId = #{brandId}
      let channelHash = "#{channelHash}"
      if (authCode) {
        brandembassy('setAuthorizationCode', authCode);
        brandembassy('init', brandId, channelHash);
      }
